---
import Typography from "@/components/ui/Typography"
import { CalendarDays, MapPin, Users } from "lucide-react"
import ReadMoreText from "./ReadMoreText"
import { Button } from "./button"
import { Badge } from "./badge"
import z, { string, number } from "zod"
import ResponsiveImage from "./ResponsiveImage.astro"

const EventSchema = z.object({
  title: string().min(5, { message: "Enter valid Title" }),
  location: string().min(5, { message: "Enter valid location" }),
  date: z.string().datetime({ message: "Enter Start Date of Event" }),
  maxMemebers: number().optional(),
  enrollLink: string().url({ message: "Enter WhatsApp Group/Sign up link" }),
  bodyText: z.object({
    first: z.string().min(50, { message: "Add more content" }),
    second: z.string().min(50, { message: "Just a bit more" }),
    part1: z.string().min(50, { message: "Just a bit more" }),
    part2: z.string().min(50, { message: "Just a bit more" }),
    part3: z.string().min(50, { message: "Just a bit more" }).optional(),
  }),
  image: z.any(),
})

export type EventType = z.infer<typeof EventSchema>

interface Props {
  Event: EventType
}

const {
  Event: { title, location, enrollLink, maxMemebers, date, bodyText, image },
} = Astro.props
---

<div
  class="grid w-full grid-cols-1 gap-5 md:items-start md:gap-10 lg:grid-cols-2 lg:gap-20"
>
  <ResponsiveImage
    alt="Site intro"
    src={image}
    sizes={[400, 700, 900]}
    format="avif"
  />

  <div class="flex w-full flex-col items-start justify-center gap-6">
    <Typography variant={"h1"} className="">{title}</Typography>

    <!-- Badges -->
    <div class="flex w-full flex-wrap items-center justify-start gap-3">
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2"
      >
        <Typography variant={"p"} affects={"small"}>{date}</Typography>
        <CalendarDays size={20} />
      </Badge>

      {
        maxMemebers && (
          <Badge
            variant={"secondary"}
            className="flex items-center justify-center gap-2"
          >
            <Typography variant={"p"} affects={"small"}>
              {maxMemebers}
            </Typography>
            <Users size={20} />
          </Badge>
        )
      }
      <Badge
        variant={"secondary"}
        className="flex items-center justify-center gap-2"
      >
        <Typography variant={"p"} affects={"small"}>
          {location}
        </Typography>
        <MapPin size={20} />
      </Badge>
    </div>

    <div class="flex flex-col items-start justify-center gap-2">
      <Typography variant={"p"} className="">
        {bodyText.first}
        <br />
        <br />
        {bodyText.second}
      </Typography>
      <ReadMoreText
        part1={bodyText.part1}
        part2={bodyText.part2}
        part3={bodyText.part3}
        client:load
      />
    </div>

    <div class="flex w-full items-center justify-center gap-3">
      <Button className="w-full">Enroll Now</Button>
      <Button variant={"outline"}>Learn More</Button>
    </div>
  </div>
</div>
