---
import { Card, CardContent, CardFooter, CardHeader } from "@/components/ui/card"
import Typography from "./Typography"
import { Button } from "./button"
import { cn } from "@/lib/utils"

const sizingStyle = "min-h-[65vh] w-full"

type Service = {
  title: string
  image: string
  description: string
  intails: string[]
  bookWhat: string
}
interface Props {
  service: Service
}

const {
  service: { title, image, description, intails, bookWhat },
} = Astro.props
---

<!-- Maintain Ratio when making responsive -->
<div
  class={cn(sizingStyle, "bg-cover bg-center, rounded-lg w-full")}
  style={{ backgroundImage: `url(${image})` }}
>
  <!-- Content -->
  <div
    class="flex h-full w-full flex-col items-center justify-between rounded-lg bg-slate-950 bg-opacity-55 text-primary-foreground"
  >
    <CardHeader className="text-center">
      <Typography variant={"h2"} className="text-5xl">{title}</Typography>
      <Typography variant={"p"}>{description}</Typography>
    </CardHeader>
    <CardContent>
      <div class="flex flex-col items-center justify-center text-center">
        {
          intails.map((intail) => (
            <Typography variant="p" affects="small">
              {intail}
            </Typography>
          ))
        }
      </div>
    </CardContent>

    <CardFooter>
      <Button>Book A {bookWhat}</Button>
    </CardFooter>
  </div>
</div>
