---
import { Card, CardContent, CardFooter, CardHeader } from "@/components/ui/card"
import Typography from "./Typography"
import { Button } from "./button"
import { Check } from "lucide-react"

type Service = {
  title: string
  description: string
  intails: string[]
  bookWhat: string
  link: string
}
interface Props {
  service: Service
}

const {
  service: { title, description, intails, bookWhat, link },
} = Astro.props
---

<Card
  className="grid w-full grid-cols-1 content-between items-center gap-5 md:h-[24rem] md:w-[50%] lg:h-[28rem] xl:h-[22rem]"
>
  <!-- <img src={image} alt="Service Card Image" class="w-full" /> -->

  <CardHeader className="">
    <Typography variant={"h2"} className="text-center">{title}</Typography>
    <Typography variant={"p"} affects={"muted"} className="text-center">
      {description}
    </Typography>
  </CardHeader>
  <CardContent className="flex flex-col items-start justify-start gap-2">
    {
      intails.map((intail) => (
        <div class="flex items-start justify-start gap-3">
          <Check width={26} height={26} className="w-6 h-6" />
          <Typography variant={"p"} className="" affects={"removePMargin"}>
            {intail}
          </Typography>
        </div>
      ))
    }
  </CardContent>
  <CardFooter className="w-full">
    <Button className="w-full"><a href={link}>Book A {bookWhat}</a></Button>
  </CardFooter>
</Card>
